---
- name: prepare nodes for kubernetes cluster
  hosts: all
  become: true
  gather_facts: false
  vars_files:
    - config.yml
  tasks:
    - name: Set up node access
      import_tasks: tasks_common.yml

    - name: Set up balancer node
      import_tasks: tasks_balancer.yml
      when: inventory_hostname in groups.balancers

    - name: Set up cluster nodes
      import_tasks: tasks_k8s.yml
      when: inventory_hostname in groups.kubernetes



