    # this is to eliminate error messages when the host keys are changing 
    # e.q. regenerating reapply terraform after a destroy
    - name: Clear ssh host keys of the nodes
      shell: ssh-keygen -R {{ ansible_ssh_host }}
      become: false
      delegate_to: localhost
      tags: [setupaccess]

    # Generate records for every host in the inventory
    # into the client's hosts file
    - name: populate hosts file
      blockinfile:
        path: /etc/hosts
        block: |
          {% for h in hostvars -%}
          {{ hostvars[h]['ansible_ssh_host'] }} {{ h }}
          {% endfor %}
      tags: [setupaccess]

    - name: Enable passwordless sudo for admin user
      copy:
        dest: /etc/sudoers.d/admin
        content: |
          admin ALL=(ALL) NOPASSWD:ALL
      tags: [setupaccess]

    - name: Put own authorized key to nodes
      authorized_key:
        user: "{{ item }}"
        state: present
        key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
      loop:
        - admin
        - root
      tags: [setupaccess]

