

- name: Install haproxy
  apt:
    name: haproxy
    state: present

- name: Create haproxy config
  copy:
    dest: /etc/haproxy/haproxy.cfg
    validate: haproxy -c -V -f %s
    content: |
      global
          log /dev/log local0
          log /dev/log local1 notice
          chroot /var/lib/haproxy
          stats socket /run/haproxy/admin.sock mode 660 level admin
          stats timeout 30s
          user haproxy
          group haproxy
          daemon

      defaults
          log     global
          mode    tcp
          option  tcplog
          option  dontlognull
          timeout connect 10s
          timeout client  1m
          timeout server  1m

      frontend kubernetes-frontend
          bind *:6443
          mode tcp
          option tcplog
          default_backend kubernetes-backend

      backend kubernetes-backend
          mode tcp
          option tcp-check
          balance roundrobin
          {% for master in groups.controlplane %}
          server {{ master }} {{ hostvars[master]['ansible_ssh_host'] }}:6443 check
          {% endfor %}

# This is a makeshift way to do it, restart should be in a handler.
- name: Restart haproxy
  ansible.builtin.service:
    name: haproxy
    enabled: true
    state: restarted